<mat-card>
    <mat-card-title>Visualisation Überschrift</mat-card-title>
    <mat-card-content>
      <div fxFlexLayout="row" style="width: 100%;">
        <mat-toolbar fxFlex="1 1 50%" fxLayoutAlign="end center" fxLayoutGap="5px"
          style="position: absolute; height: 50px;right: 0;z-index: 100;background: unset;">
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>attach_file</mat-icon>
          </button>
          <mat-form-field style="width: 300px; font-size: initial;" fxHide.md>
            <mat-label>Visualisation</mat-label>
            <mat-select>
              <mat-optgroup label="Intraday DE+AT">
                <mat-option>EPEX Intraday DE/AT 15min</mat-option>
                <mat-option>EPEX Intraday DE/AT 60min</mat-option>
                <mat-option>EPEX Intraday DE 15min</mat-option>
                <mat-option>EPEX Intraday DE 60min</mat-option>
                <mat-option>EPEX Intraday AT 15min</mat-option>
                <mat-option>EPEX Intraday AT 60min</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Spot - Spotmarkt DE+AT">
                <mat-option>EPEX Intraday DE/AT 15min</mat-option>
                <mat-option>EPEX Intraday DE/AT 60min</mat-option>
                <mat-option>EPEX Intraday DE 15min</mat-option>
                <mat-option>EPEX Intraday DE 60min</mat-option>
                <mat-option>EPEX Intraday AT 15min</mat-option>
                <mat-option>EPEX Intraday AT 60min</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Spot -Spotmärkte Europa">
                <mat-option>EPEX Intraday DE/AT 15min</mat-option>
                <mat-option>EPEX Intraday DE/AT 60min</mat-option>
                <mat-option>EPEX Intraday DE 15min</mat-option>
                <mat-option>EPEX Intraday DE 60min</mat-option>
                <mat-option>EPEX Intraday AT 15min</mat-option>
                <mat-option>EPEX Intraday AT 60min</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <mat-checkbox matTooltip="Check me"></mat-checkbox>
          <button mat-icon-button>
            <mat-icon>
              create_new_folder
            </mat-icon>
          </button>
        </mat-toolbar>
        <nav mat-tab-nav-bar fxFlex="1 1 100%">
          <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
      </div>
    </mat-card-content>
    <mat-card-content>
      <app-filter></app-filter>
    </mat-card-content>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
  